{
  "extends": "@antfu",
  "rules": {
    "@typescript-eslint/indent": ["error", 2, {
      "ignoredNodes": [
        "FunctionExpression > .params[decorators.length > 0]",
        "FunctionExpression > .params > :matches(Decorator, :not(:first-child))",
        "ClassBody.body > PropertyDefinition[decorators.length > 0] > .key"
      ]
    }]
  }
}
